In [5]:
#!pip install psycopg2
#!pip install psycopg2-binary
#!Pip install sqlalchemy

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.2-cp39-cp39-macosx_10_14_x86_64.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (2.2 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.2
WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the '/Users/daisy/Documents/Grad/SQL/SQL Term Project/venv/bin/python3 -m pip install --upgrade pip' command.

In [6]:
# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, inspect

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/3_1_1'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [2]:
# APAN 5310: SQL & RELATIONAL DATABASES SPRING 2020

# -- START PYTHON CODE --

# Pass the SQL statements that create all views
stmt = """

Create table Agency(
 Agency_id SERIAL,
 Agency_name char(255),
 Agency_type char(255),
primary key(Agency_id)
);

Create table Complaint(
 Complaint_id SERIAL,
 Complaint_Type char(255),
 Descriptor char(255),
 Status char(255),
primary key(Complaint_id)
);

Create table Agency_Complaint(
 Agency_id INT,
 Complaint_id INT,
 Agency_Name char(255),
 Complaint_Type char(255),
primary key(Agency_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));

Create table Resolution(
 Resolution_id SERIAL,	
 Complaint_id INT,	
 Due_Date_Status char(255),	
 Resolution_Action_Updated_Date date,
 Resolution_Description char(255),
primary key(Resolution_id),
foreign key(Complaint_id) references Complaint(Complaint_id));

Create table Service_Request(
 Unique_Key varchar(255),
 Open_data_channel_type char(255),
 Created_date date,
 Closed_date date,
 Agency_id INT,
 Complaint_id INT ,
 Resolution_id INT,
primary key(Unique_Key),
foreign key (Agency_id) references Agency(Agency_id),
foreign key (Complaint_id) references Complaint(Complaint_id),
foreign key (Resolution_id) references Resolution (Resolution_id));


Create table Complaint_address(
 Complaint_id SERIAL,
 Incident_id INT,
 Complaint_Type char(255),
 Borough char(255),
primary key(Incident_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Incident_info(
 Incident_id SERIAL,
 Complaint_id INT,
 Submitter_id INT,
 Community_id INT,
 City_id INT,
 Geo_id INT,
 Park_id INT,
 Tansportation_id varchar(50),
 Road_id varchar(50),
primary key(Incident_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Incident_Location_bySubmitter(
 Submitter_id SERIAL,
 Incident_id INT,
 Location_Type char(255),
 Incident_Address char(255),
 Street_Name char(255),
 Borough char(50),
primary key(Submitter_id),
foreign key(incident_id) references Incident_info(incident_id));


Create table Incident_Location_byCommunity(
 Community_id SERIAL,
 Community_Board	char(255),
 BBL char(255),
 Borough char(255),
primary key(Community_id));


Create table Incident_Location_byBroadInfo(		
 Broad_id SERIAL,
 Address_Type char(255),	
 Landmark char(255),
 Facility_Type char(255),
primary key(Broad_id));

Create table Incident_Location_byCity(					
 City_id SERIAL,
 City char(255),
 Incident_Zip int,
 Cross_Street_1 varchar(255),
 Cross_Street_2 varchar(255),
 Intersection_Street_1 varchar(255),	
 Intersection_Street_2 varchar(255),
primary key(City_id));

Create table Incident_Location_byGeographicCordinate(					
 Geo_id SERIAL,
 Location varchar(255),
 Latitude int,
 Longtitude int,
 X_Coordinate int,
 Y_Coordinate int,
primary key(Geo_id));


Create table Incident_Location_byPark(		
 Park_id SERIAL,
 Facility_Type char(255),
 Park_Facility_Name	varchar(255),
 Park_Borough char(255),
primary key(Park_id));

Create table Incident_Location_byTransportation(				
 Transportation_id SERIAL,
 Incident_id INT,
 Facility_Type char(255),
 Vehicle_Type char(255),
 Taxi_Company_Borough char(255),	
 Taxi_Pick_Up_Location char(255),
primary key(Transportation_id,Incident_id));

Create table Incident_Location_byBridgeHwy(					
 BridgeHwy_id SERIAL,
 Incident_id INT,
 Bridge_Highway_Name varchar(255),
 Bridge_Highway_Direction varchar(255),
 Bridge_Highway_Segment varchar(255),
primary key(BridgeHwy_id,Incident_id));


"""

# Execute the statement to create tables
connection.execute(stmt)
#close the connection
#connection.close()

# -- END PYTHON CODE --

#
#****************************************************************************************************************

In [8]:
# CREATE TABLE TEMP
import pandas as pd
df = pd.read_csv('311_Service_Request_from_2015_to_Present.csv')
df.columns = [c.lower() for c in df.columns] 

from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123@localhost:5432/3_1_1')

df.to_sql("table_temp", engine)

/Users/daisy/Documents/Grad/SQL/SQL Term Project/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (18,20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
stmt = """
ALTER TABLE public.table_temp
    RENAME "agency name" TO agency_name;

ALTER TABLE public.table_temp
    RENAME "complaint type" TO complaint_type;


ALTER TABLE public.table_temp
    RENAME "location type" TO location_type;

ALTER TABLE public.table_temp
    RENAME "incident zip" TO incident_zip;

ALTER TABLE public.table_temp
    RENAME "incident address" TO incident_address;

ALTER TABLE public.table_temp
    RENAME "street name" TO street_name;

ALTER TABLE public.table_temp
    RENAME "cross street 1" TO cross_street_1;

ALTER TABLE public.table_temp
    RENAME "cross street 2" TO cross_street_2;

ALTER TABLE public.table_temp
    RENAME "intersection street 1" TO intersection_street_1;

ALTER TABLE public.table_temp
    RENAME "intersection street 2" TO intersection_street_2;

ALTER TABLE public.table_temp
    RENAME "address type" TO address_type;

ALTER TABLE public.table_temp
    RENAME "due date" TO due_date;

ALTER TABLE public.table_temp
    RENAME "resolution description" TO resolution_description;

ALTER TABLE public.table_temp
    RENAME "resolution action updated date" TO resolution_action_updated_date;

ALTER TABLE public.table_temp
    RENAME "community board" TO community_board;

ALTER TABLE public.table_temp
    RENAME "x coordinate (state plane)" TO "x_coordinate";

ALTER TABLE public.table_temp
    RENAME "y coordinate (state plane)" TO "y_coordinate";

ALTER TABLE public.table_temp
    RENAME "open data channel type" TO open_data_channel_type;
    
ALTER TABLE public.table_temp
    RENAME "park borough" TO park_borough;
    
ALTER TABLE public.table_temp
    RENAME "park facility name" TO park_facility_name;

ALTER TABLE public.table_temp
    RENAME "vehicle type" TO vehicle_type;

ALTER TABLE public.table_temp
    RENAME "taxi company borough" TO taxi_company_borough;
   
ALTER TABLE public.table_temp
    RENAME "taxi pick up location" TO taxi_pickup_location;

ALTER TABLE public.table_temp
    RENAME "bridge highway name" TO bridge_highway_name;

ALTER TABLE public.table_temp
    RENAME "bridge highway direction" TO bridge_highway_direction;
    
ALTER TABLE public.table_temp
    RENAME "road ramp" TO road_ramp;
    
ALTER TABLE public.table_temp
    RENAME "bridge highway segment" TO bridge_highway_segment;    

ALTER TABLE public.table_temp
    RENAME "unique key" TO "unique_key";

ALTER TABLE public.table_temp
    RENAME "created date" TO created_date;

ALTER TABLE public.table_temp
    RENAME "closed date" TO closed_date;
    
ALTER TABLE public.incident_location_bysubmitter
    ALTER COLUMN location_type TYPE character(50) COLLATE pg_catalog."default";
    
ALTER TABLE public.incident_location_bysubmitter
    ALTER COLUMN street_name TYPE character(250) COLLATE pg_catalog."default";
    
"""

# Execute the statement to create tables
connection.execute(stmt)

In [10]:
#Double check it worked
inspector = inspect(engine)
inspector.get_table_names()

['complaint',
 'agency_complaint',
 'resolution',
 'agency',
 'service_request',
 'complaint_address',
 'incident_info',
 'incident_location_bycommunity',
 'incident_location_bybroadinfo',
 'incident_location_bycity',
 'incident_location_bygeographiccordinate',
 'incident_location_bysubmitter',
 'incident_location_bypark',
 'incident_location_bytransportation',
 'incident_location_bybridgehwy',
 'table_temp']

In [11]:
# Get a list of column names and types
columns = inspector.get_columns('service_request')
for c in columns:
    print(c['name'], c["type"])

unique_key VARCHAR(50)
open_data_channel_type CHAR(20)
created_date DATE
closed_date DATE
agency_id INTEGER
complaint_id INTEGER
resolution_id INTEGER

In [18]:
# Get a list of column names and types
columns = inspector.get_columns('agency')
for c in columns:
    print(c['name'], c["type"])

agency_id INTEGER
agency_name CHAR(50)
agency_type CHAR(20)

In [13]:
# Get a list of column names and types
columns = inspector.get_columns('complaint')
for c in columns:
    print(c['name'], c["type"])

complaint_id INTEGER
complaint_type CHAR(20)
descriptor CHAR(50)
status CHAR(20)

In [14]:
# NOTES :
# Incident_Location_byTransportation all is null
# Incident_Location_byBridgeHwy all is null

In [15]:
# Pass the SQL statements that insert data
stmtInsertAgency = """

INSERT INTO Agency (Agency_type,Agency_name)
SELECT DISTINCT 
 trim(Agency), trim(agency_name)
FROM table_temp


"""

# Execute the statement to create tables
connection.execute(stmtInsertAgency)

DataError: (psycopg2.errors.StringDataRightTruncation) value too long for type character(50)

[SQL:

INSERT INTO Agency (Agency_type,Agency_name)
SELECT DISTINCT
 trim(Agency), trim(agency_name)
FROM table_temp


]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [16]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Complaint (Complaint_Type,Descriptor,Status)
SELECT DISTINCT 
 trim(Complaint_Type), trim(Descriptor), trim(Status)
FROM table_temp;

INSERT INTO Incident_Location_byCommunity (Community_Board,BBL,Borough)
SELECT DISTINCT 
 trim(Community_Board), BBL, trim(Borough)
FROM table_temp


"""

# Execute the statement to create tables
connection.execute(stmtInsert)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "INTO"
LINE 8: INSERT INTO Incident_Location_byCommunity (Community_Board,B...
               ^

[SQL:

INSERT INTO Complaint (Complaint_Type,Descriptor,Status)
SELECT DISTINCT
 trim(Complaint_Type), trim(Descriptor), trim(Status)
FROM table_temp

INSERT INTO Incident_Location_byCommunity (Community_Board,BBL,Borough)
SELECT DISTINCT
 trim(Community_Board), BBL, trim(Borough)
FROM table_temp


]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [20]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_byBroadInfo (Address_Type,Landmark)
SELECT DISTINCT 
 Address_Type, Landmark
FROM table_temp


"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [ ]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_byCity (City, Incident_Zip, Cross_Street_1, Cross_Street_2, Intersection_Street_1, Intersection_Street_2 )
SELECT DISTINCT 
 City, Incident_Zip, Cross_Street_1, Cross_Street_2, Intersection_Street_1, Intersection_Street_2  
FROM table_temp

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [26]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_byPark (Park_Facility_Name, Park_Borough)
SELECT DISTINCT 
 park_facility_name, Park_Borough
FROM table_temp

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [33]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Service_Request (Unique_Key, Open_data_channel_type,Created_date,Closed_date)
SELECT DISTINCT
 Unique_Key,
 Open_data_channel_type,
 CAST(Created_date AS DATE) AS Created_date,
 CAST(Closed_date AS DATE) AS Closed_date
FROM table_temp t


"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [34]:
# Pass the SQL statements that insert data
stmtInsert = """


UPDATE Service_Request s
SET Agency_id = subquery.Agency_id
FROM (SELECT a.Agency_id, t.Unique_Key  FROM agency a
LEFT JOIN table_temp t ON a.agency_name = t.agency_name) AS subquery
WHERE CAST(s.Unique_Key AS bigint) = CAST(subquery.Unique_Key AS bigint);

UPDATE Service_Request s
SET Complaint_id = subquery.Complaint_id
FROM (SELECT a.Complaint_id, t.Unique_Key  FROM table_temp t 
LEFT JOIN complaint a ON a.descriptor = t.descriptor and a.complaint_type = t.complaint_type) AS subquery
WHERE CAST(s.Unique_Key AS bigint) = CAST(subquery.Unique_Key AS bigint);

UPDATE Service_Request s
SET resolution_id = subquery.resolution_id
FROM (SELECT r.resolution_id, t.Unique_Key  FROM table_temp t 
		INNER JOIN resolution r ON r.resolution_description = t.resolution_description 
	  	and cast(r.resolution_action_updated_date as date) = cast(t.resolution_action_updated_date as date)) AS subquery
WHERE CAST(s.Unique_Key AS bigint) = CAST(subquery.Unique_Key AS bigint);

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [37]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_bySubmitter(Location_Type,Incident_Address,Street_Name,Borough)
SELECT DISTINCT 
 Location_Type,Incident_Address,Street_Name,Borough
FROM table_temp t



"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [39]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_info(Complaint_id)
SELECT DISTINCT 
 cmp.Complaint_id
FROM complaint cmp


"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [40]:
# Pass the SQL statements that insert data
stmtInsert = """

UPDATE Incident_info i
SET Community_id = subquery.Community_id
FROM (select distinct i.Community_id, c.complaint_id
		from Incident_Location_byCommunity i
		inner join table_temp t on t.community_board = i.community_board
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

UPDATE Incident_info i
SET city_id = subquery.city_id
FROM (select distinct i.city_id, c.complaint_id
		from Incident_Location_bycity i
		inner join table_temp t on t.city = i.city
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

UPDATE Incident_info i
SET geo_id = subquery.geo_id
FROM (select distinct i.geo_id, c.complaint_id
		from Incident_Location_byGeographicCordinate i
		inner join table_temp t on t.location = i.location
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

UPDATE Incident_info i
SET park_id = subquery.park_id
FROM (select distinct i.park_id, c.complaint_id
		from Incident_Location_byPark i
		inner join table_temp t on t.park_borough = i.park_borough
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;


UPDATE Incident_info i
SET submitter_id = subquery.submitter_id
FROM (select distinct i.submitter_id, c.complaint_id
		from Incident_Location_bySubmitter i
		inner join table_temp t on t.incident_address = i.incident_address
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;



"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [ ]:


# -- START PYTHON CODE --

# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/311'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

# Pass the SQL statements that create all views
stmt = """
            drop table agency_complaint;
            drop table complaint_address;
            drop table incident_location_bysubmitter;
            drop table incident_location_bycommunity;
            drop table incident_location_bybroadinfo;
            drop table incident_location_bycity;
            drop table incident_location_bygeographiccordinate;
            drop table incident_location_bypark;
            drop table incident_location_bytransportation;
            drop table incident_location_bybridgehwy;
            drop table incident_info; 
            drop table service_request;
            drop table agency;
            drop table resolution;
            drop table complaint;

        """

# Execute the statement to create tables
connection.execute(stmt)

#close the connection
connection.close()

# -- END PYTHON CODE --


#
#****************************************************************************************************************

# -----------------------------------------------------------------------------